body {
    margin: 0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 1rem auto;
}

hr.hr-lev2 {
    border: none;
    border-top: 5px dotted #A6E3E9;
    height: 0;
}

hr.hr-lev3 {
    border: none;
    border-top: 5px dotted #A6E3E9;
    height: 0;
    max-width: 50px;
    text-align: center;
}



.top-container {
    background-color: #E3FDFD;
    position: relative;
    padding: 0;
    /* padding-top: 100px; */
    color: #66bfbf;
}

h1 {
    margin: auto;
    font-family: 'Baloo 2', cursive;
    font-size: 5.625rem;
    color: #71C9CE;
    /* padding-top: 50px; */
}

.navbar {
    padding: 10px 0 10px 18px;
}
.navbar-brand {
    position: relative;
    color: #80c7c7;
}
.navbar-brand img {
    position: relative;
    height: 30px
}
.nav-item {
    padding: 0 18px;
    text-align: right;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: light;
    color: #80c7c7;
}



.profile {
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
}

.profile .pfp {
    border-radius: 50%;
    height: 150px;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-text, .card-body {
    color: black;
}


.experience {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.experience .experience-row {
    /* display: flex; */
}

.experience .experience-list {
    text-align: left;
}


.other-experience {
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
}

.other-experience .images {
    width: 150px;
    float: right;
    margin-left: 20px;
}

.other-experience .images img {
    width: 100%;
}

.other-experience .experience-row {
    text-align: left;
    clear: left;
}


.contact-me {
    position: relative;
    margin: 0;
    padding: 0;
}

.contact-me .btn {
    background-image: -webkit-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -moz-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -ms-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -o-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: linear-gradient(to bottom, #A6E3E9, #31c6d4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.contact-me .btn:hover {
    background: #71C9CE;
    text-decoration: none;
}



.bottom-container {
    background-color: #A6E3E9;
}

.bottom-container .cont{
    margin: auto;
    width: 80%;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-container .cont .contact-glyph {
    height: 50px;
    margin-top: 10px;
}



.container {
    margin: auto;
    width: 80%;
    max-width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.shaded {
    background-color: #E3FDFD;
}

.no-shade {
    background-color: white;
}